/* variables */
:root{
  --white: rgba(255, 255, 255, 1);
  --soft: rgba(255, 255, 255, 0.75);
  --green: rgba(0, 255, 0, 1);
  --red: rgba(255, 0, 0, 1);
}

/* html display */
*{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
html, body{
  min-height: 100vh;
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background: linear-gradient(
    180deg,
    rgba(15, 32, 39, 1),
    rgba(26, 26, 46, 1),
    rgba(10, 10, 10, 1),
    rgba(0, 0, 0, 1)
  )
}
h1, h2, h3, h4, h5, p{
  pointer-events: none;
}

/* do not touch anchor */
#anchor{
  position: relative;
  width: min(768px, 90%);
  height: 1em;
  margin: 1em auto;
}

/* container design */
.glass{
  background: rgba(255, 255, 255, 0.1);
  backgdrop-filter: blur(1em);
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
}
.mainContainer{
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.title{
  color: var(--white);
  text-shadow: 0px 0px 10px var(--soft);
  text-align: center;
}
.subtitle{
  color: var(--soft);
  text-align: center;
}
.scale{
  transition: transform 0.25s ease;
}

/* container elements subclasses */
.glass:active{
  background: rgba(255, 255, 255, 0.2);
}
.scale:hover{
  transform: scale(1.075);
}

/* navigation */
#navContainer{
  width: 100%;
  margin-top: 0.5em;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  grid-template-areas:
  "play"
  "stats"
  "creators";
}
#playBtn .navIcon{
  font-size: 5em;
}
.navWrapper{
  display: grid;
  place-items: center;
}
.navBtn{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.navTxt{
  color: var(--white);
}
.navIcon{
  font-size: 4em;
  color: var(--white);
}

/* navigation subclasses */
.navBtn:hover .navIcon, .navBtn:hover .navTxt{
  animation: beat 2s linear infinite;
}

/* difficulty menu */
#difficultyMenu{
  opacity: 0;
  pointer-events: none;
}
#difficultySettings{
  width: 100%;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  grid-template-areas:
  "return"
  "easy"
  "medium"
  "hard";
}
#backBtn1{
  height: 3em;
}
#backToMenu1{
  color: var(--soft);
}
#backToMenu1 i{
  color: var(--soft);
  font-size: 1em;
}
.diffBtn{
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}
.diffTxt{
  color: var(--white);
}
.diffBtn i{
  color: var(--white);
  font-size: 3em;
}

/* difficulty btn subclasses */
.diffBtn:hover #backToMenu1, .diffBtn:hover .diffTxt, .diffBtn:hover .diffIcon i{
  animation: beat 2s linear infinite;
}

/* staring signal (ready, set, solve) */
#startingSignal{
  position: absolute;
  top: 0;
  width: 100%;
  height: 500px;
  pointer-events: none;
  opacity: 0;
  display: grid;
  place-items: center;
}
#signal{
  font-size: 15vw;
  color: var(--white);
  text-shadow: 0px 0px 10px var(--soft);
}

/* game interface */
#gameUi{
  pointer-events: none;
  opacity: 0;
}
#gameStat{
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
#gameStat > div{
  display: flex;
  gap: 2em;
  justify-content: space-between;
  padding: 0.75em 2em;
}
#gameStat > h1{
  padding: 0.5em 1em;
}
#gameStat i{
  font-size: 2em;
}
#checkIcon{
  color: var(--green);
}
#wrongIcon{
  color: var(--red);
}
#accuracyIcon{
  color: white;
}
#gameStat > div div{
  display: flex;
  flex-direction: rows;
  align-items: center;
}
.statCount{
  color: var(--soft);
}

/* question interface */
#questionContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  font-size: 2.5em;
  padding: 1em 0;
  color: var(--white);
}
#questionContainer h3{
  color: var(--soft);
  font-size: 0.5em;
}

/* timer */
#timerContainer{
  width: min(400px, 100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}
#timerContainer > div{
  background: var(--soft);
  width: 100%;
  height: 0.75em;
  border-radius: 0.5em;
}
#timerContainer > i {
  font-size: 2em;
  color: var(--white);
}
#timerContainer > h2{
  color: var(--white);
}

/* choices */
#choicesContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  width: 100%;
}
#choicesContainer > div{
  height: 150px;
  display: grid;
  place-items: center;
}
#choicesContainer h1{
  color: var(--white);
  font-size: 3em;
}

/* falling stars */
#starBox{
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
.star{
  color: var(--white);
  text-shadow: 0px 0px 10px var(--soft);
}

/* elements with animation */
.title{
  animation: titleGlow 3s linear infinite;
}
#s1{
  animation: starFall 13s linear infinite;
}
#s2{
  animation: starFall 10s linear infinite;
}
#s3 {
  animation: starFall 6s linear infinite;
}
#s4{
  animation: starFall 12s linear infinite;
}
#s5{
  animation: starFall 7s linear infinite;
}
#s6{
  animation: starFall 14s linear infinite;
}
#s7{
  animation: starFall 8s linear infinite;
}
#s8{
  animation: starFall 15s linear infinite;
}
#s9{
  animation: starFall 9s linear infinite;
}
#s10{
  animation: starFall 5s linear infinite;
}
#s11{
  animation: starFall 11s linear infinite;
}
#s12{
  animation: starFall 8s linear infinite;
}
#s13{
  animation: starFall 12s linear infinite;
}
#s14{
  animation: starFall 6s linear infinite;
}
#s15{
  animation: starFall 14s linear infinite;
}
#s16{
  animation: starFall 7s linear infinite;
}

/* animations */
@keyframes fadeIn{
  from{
    opacity: 0;
    pointer-events: none;
  }
  to{
    opacity: 1;
    pointer-events: auto;
  }
}
@keyframes fadeOut{
  from{
    opacity: 1;
    pointer-events: auto;
  }
  to{
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes fadeSlideUp{
  from{
    opacity: 0;
    transform: translateY(100vh);
    pointer-events: none;
  }
  to{
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }
}
@keyframes beat{
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1.1);
  }
  50%{
    transform: scale(1);
  }
  75%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes titleGlow{
  0%{
    text-shadow: 0px 0px 10px var(--soft);
  }
  25%{
    text-shadow: 0px 0px 20px var(--soft);
  }
  50%{
    text-shadow: 0px 0px 10px var(--soft);
  }
  75%{
    text-shadow: 0px 0px 20px var(--soft);
  }
  100%{
    text-shadow: 0px 0px 10px var(--soft);
  }
}
@keyframes starFall{
  0%{
    transform: translateY(0) rotate(0deg) scale(0);
    opacity: 0;
  }
  50%{
    transform: translateY(50vh) rotate(180deg) scale(0.5);
    opacity: 1;
  }
  100%{
    transform: translateY(100vh) rotate(360deg) scale(0);
    opacity: 0;
  }
}

/* properties */
@media(min-width: 768px){
  #navContainer{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "stats play creators";
  }
  #playBtn{
    height: 200px;
  }
  .navBtn{
    height: 175px;
  }
  #difficultySettings{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "return return return"
    "easy medium hard";
  }
  #startingSignal{
    height: 300px;
  }
  #gameStat{
    justify-content: space-between;
  }
  #choicesContainer{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}